.jvectormap-region.jvectormap-element {
  text-shadow: #000 2px 2px 5px;
}
text.jvectormap-region.jvectormap-element {
  fill: #ffffff;
}
.jvectormap-zoomin, .jvectormap-zoomout {
  padding: 30px;
}
.jvectormap-zoomout {
  top: 85px;
}
body {
  margin: 0;
}
head {
  height:100%;
}
#map {
  width: 100% !important;
  height:100vh !important;;
}
#map > div > svg {
  width: 100% !important;
  height: 100% !important;
}

#map-menu, #map-players, #map-menu-popup, #map-settings, #map-player {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  border-radius: 3px;
  z-index: 1000;
  background: #292929;
  color: #ffffff;
  cursor: pointer;
  text-align: center;
  line-height: 10px;
  padding: 30px;
  box-sizing: content-box;
}

#map-menu {
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, -50%);
}

#map-menu > div {
  padding-left: 20px;
}
#map-menu > div:last-child {
  padding-right: 20px;
}

.active {
  color: #ff0000;
}

#map-players {
  flex-direction: column;
  left: 10px;
  top: 50%;
  transform: translate(0%, -50%);
}

#map-players > div, #map-menu-popup > div, #map-player > div {
  margin-bottom: 30px;
}
#map-players > div:last-child, #map-menu-popup > div:last-child, #map-player > div:last-child {
  margin-bottom: 0px;
}

#map-menu-popup {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#map-player {
  flex-direction: column;
  right: 10px;
  top: 50%;
  transform: translate(0%, -50%);
}

#map-settings {
  top: 10px;
  right: 10px;
}