#map-menu, #map-players, #map-menu-popup {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 10px;
  border-radius: 3px;
  z-index: 1000;
  background: #292929;
  color: #ffffff;
  cursor: pointer;
  text-align: center;
  line-height: 10px;
  padding: 6px;
  box-sizing: content-box;
}

#map-menu > div {
  padding-left: 20px;
}
#map-menu > div:last-child {
  padding-right: 20px;
}

.active {
  color: #ff0000;
}

#map-players {
  flex-direction: column;
  left: 10px;
  top: 50%;
}

#map-players > div, #map-menu-popup > div {
  padding-top: 10px;
}
#map-players > div:last-child, #map-menu-popup > div:last-child {
  padding-bottom: 10px;
}

#map-menu-popup {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50%;
  top: 50%;
}
